/* Components for Windows 9x UI - use by adding w9x class to parent element */

/* Windows 9x MS Sans Serif font */
@font-face {
    font-family: W9xMSSansSerif;
    src: url(fonts/MSSansSerif8px.woff2) format('woff2'),
         url(fonts/MSSansSerif8px.woff) format('woff'),
         url(fonts/MSSansSerif8px.ttf) format('truetype'),
         url(fonts/MSSansSerif8px.svg) format('svg');
}

@font-face {
    font-family: W9xMSSansSerif;
    src: url(fonts/MSSansSerif8pxBold.svg) format('woff2'),
         url(fonts/MSSansSerif8pxBold.woff) format('woff'),
         url(fonts/MSSansSerif8pxBold.ttf) format('truetype'),
         url(fonts/MSSansSerif8pxBold.svg) format('svg');
    font-weight: bold;
}

.w9x {
    font-family: W9xMSSansSerif, 'MS Sans Serif', 'Microsoft Sans Serif', sans-serif;
    background-color: #c0c0c0;
    padding: 0.3rem;
    box-shadow: inset -0.1rem -0.1rem 0 #000000, inset 0.1rem 0.1rem 0 #c0c0c0, inset -0.2rem -0.2rem 0 #808080, inset 0.2rem 0.2rem 0 #ffffff;
}

.w9x .bold {
    font-weight: bold;
}

/* TITLE BAR */

.w9x .title-bar {
    background-color: #000080;
    padding: 0.25rem;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
}

.w9x .title-bar h1 {
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
}

/* MENU BAR */
.w9x .menu-bar {
    background-color: #c0c0c0;
}

.w9x .menu-bar ul.categories {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.1rem 0;
    margin: 0;
    list-style-type: none;
}

.w9x .menu-bar ul.categories li {
    padding: 0.25rem 0.5rem;
    cursor: default;
    user-select: none;
}

.w9x .menu-bar ul.categories li:hover {
    box-shadow: inset -0.1rem -0.1rem 0 #808080, inset 0.1rem 0.1rem 0 #ffffff;
}

.w9x .menu-bar ul.categories li.active {
    box-shadow: inset -0.1rem -0.1rem 0 #ffffff, inset 0.1rem 0.1rem 0 #808080;
}

/* DROP-DOWN MENU FROM MENU BAR */

.w9x .menu-bar ul.menu {
    box-shadow: inset -0.1rem -0.1rem 0 #000000, inset 0.1rem 0.1rem 0 #c0c0c0, inset -0.2rem -0.2rem 0 #808080, inset 0.2rem 0.2rem 0 #ffffff;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0.25rem;
    background-color: #c0c0c0;
}

.w9x .menu-bar ul.menu li {
    margin: 0;
    padding-top: 0.4rem; padding-bottom: 0.4rem;
    padding-left: 2.25rem; padding-right: 3.75rem;
    cursor: default;
    user-select: none;
}

.w9x .menu-bar ul.menu li.disabled {
    color: #808080 !important;
}

.w9x .menu-bar ul.menu li:hover,
.w9x .menu-bar ul.menu li.active {
    background-color: #000080;
    color: #ffffff;
}

.w9x .menu-bar ul.menu li.separator {
    margin: 0.25rem 0.1rem;
    border-top: 0.1rem solid #808080;
    border-bottom: 0.1rem solid #ffffff;
    padding: 0;
}

/* BUTTON */

.w9x button {
    background-color: #c0c0c0;
    font-family: inherit;
    border: none;
    padding-top: 0.6rem; padding-bottom: 0.6rem;
    box-shadow: inset -0.1rem -0.1rem 0 #000000, inset 0.1rem 0.1rem 0 #ffffff, inset -0.2rem -0.2rem 0 #808080, inset 0.2rem 0.2rem 0 #c0c0c0;
    width: 6rem;
}

.w9x button:not(:disabled):active,
.w9x button:not([disabled]):active {
    margin: 0;
    box-shadow: inset 0 0 0 0.1rem #000000, inset 0 0 0 0.2rem #808080;
}

/* BUTTON GROUP */
.w9x .button-group {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0 1rem;
}

.w9x .button-group button:not(:last-child) {
    margin-right: 2rem;
}

.w9x button:disabled,
.w9x button[disabled] {
    color: #808080;
    text-shadow: 0.1rem 0.1rem 0 #ffffff;
}

.w9x button.mini {
    padding-top: 0.1rem; padding-bottom: 0.1rem;
    width: initial;
}

/* SLIDER */

.w9x input[type="range"] {
    appearance: none;
    width: 100%;
    height: 0.4rem;
    background-color: #c0c0c0;
    box-shadow: inset -0.1rem -0.1rem 0 #ffffff, inset 0.1rem 0.1rem 0 #808080, inset -0.2rem -0.2rem 0 #c0c0c0, inset 0.2rem 0.2rem 0 #000000;
}

.w9x input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 1.1rem;
    height: 2.1rem;
    border: 0;
    background-image: url('slider.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.w9x input[type="range"]:disabled::-webkit-slider-thumb,
.w9x input[type="range"][disabled]::-webkit-slider-thumb {
    background-image: url('slider-active.svg');
}

/* MICROSOFT PAINT COLOUR SELECTOR BOX */

.w9x .mspaint-colsel .color-board {
    display: flex;
    flex-direction: column;
}

.w9x .mspaint-colsel,
.w9x .mspaint-colsel .row {
    display: flex;
    flex-direction: row;
}

.w9x .mspaint-colsel .cell {
    border-right: 0.1rem solid white;
    border-bottom: 0.1rem solid white;
    width: calc(1.5rem - 0.1rem);
    height: calc(1.5rem - 0.1rem);
    box-shadow: inset 0.1rem 0.1rem 0 #808080, inset -0.1rem -0.1rem 0 #c0c0c0, inset 0.2rem 0.2rem 0 #000000;
}

.w9x .mspaint-colsel .cell.large {
    width: calc(3.0rem - 0.1rem);
    height: calc(3.0rem - 0.1rem);
}

/* STATUS BAR */
.w9x .status-container {
    box-shadow: inset 0 0.1rem 0 #808080, inset 0 0.2rem 0 #ffffff;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
}

.w9x .status-container:before {
    position: relative;
}

.w9x .status-item {
    box-shadow: inset -0.1rem -0.1rem 0 #ffffff, inset 0.1rem 0.1rem 0 #808080;
    padding: 0.4rem 0.25rem;
    flex: 1;
}

.w9x .status-item:not(:last-child) {
    margin-right: 0.25rem;
}

/* MESSAGES */

.w9x .msg-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 1rem 2rem;
}

.w9x .msg-container img.icon {
    flex: 0;
    min-width: 3.5rem;
    margin-right: 1rem;

    /* TLDR: responsive img */
    height: auto;
}

.w9x .msg-container .content {
    flex: 1;
}

/* Correction for bold font */
.w9x b,
.w9x .bold {
    line-height: 0.6;
}

.w9x .title-bar h1,
.w9x button.mini b,
.w9x button.mini .bold {
    line-height: 1;
}