@import url(ui/w9x_ui.css); /* UI */

body {
    margin: 0;
    font-size: 1rem;
}

div#app {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 2 * 0.3rem); /* compensate for border */
}